 {% load static %}

<DOCTYPE html>
<html>
<head>

	<title> Diana Ruslanovna </title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<body>
	<br>
	<div class="container">
		<div class= "row">
			<div class="col-md-3 h-100">
				<div class="card card-body" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Di.jpg' %}">
					<hr>
					<h2>Hi I'm Diana!</h2>
					<p>I love dancing,swimming,drawing and coding!</p>
				</div>
			</div>
			<div class="col-md-9 h-100 border-info">
				<div class="card card-body">
					<h3>My way in programming!</h3>
					<hr>
					<p>When I was in my first year of study, I didn’t understand anything in programming. But in the second year, my assistant helped me understand the logic in programming. Thanks to him I started to like my profession!</p>
					<h3>Now what programming languages do i know?</h3>
					<h4>
						<ul>
						    <li>C++</li>
						    <li>C#</li>
						    <li>Python</li>
						    <li>Java</li>
						    <li>Java Script</li>
					    </ul>
					</h4>
					<h5>So, in future i'd like to work in this area!</h5>
				</div>
			</div>
		</div>
		<br>

		<div class= "row">
			<div class="col-md-6 h-100">
				<div class="card card-body">
					
			    </div>
			</div>
			<div class="col-md-6 h-100">
				<div class="card card-body"></div>
			</div>
		</div>
        <br>
		<div class= "row">
			<div class="col-md-6 h-100">
				<div class="card card-body"></div>
			</div>
		<div class="col-md-6 h-100">
			    <div class="card card-body"></div>
		</div>
		</div>
		<br>	
	</div>
</body>
</html>


